source ~/.lazy-idea/lazy-idea.vim

nmap <CR> <Action>(EditorSelectWord)
nmap <BS> <Action>(EditorUnSelectWord)
vmap <CR> <Action>(EditorSelectWord)
vmap <BS> <Action>(EditorUnSelectWord)

sethandler <S-CR> n:vim
nmap <S-CR> <Action>(NotebookRunCellSelectBelowAction)
